<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="font-size: 120%;">We here at ChicagoCBD believe in the opportunity to have easy access to buying your CBD products.<br>
    This is why we bring you a store that makes buying your CBD literally as easy as clicking a button!<br>
    All of our products are grown here in the US and undergo extensive lab tests to ensure that your product is of 100% quality.<br>
    So what're you waiting for?
    </p>
    <a href="\"><p style="font-size: 130%;">Start shopping now!</p></a> 
</html>