<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="font-size: 120%;">Phone #: 815-690-8513</p>
    <p style="font-size: 120%;">Email: mjallen247@gmail.com</p>
  </body>
</html>