<table bgcolor='blue'> <tr>
    <td width='20%' align='left'>
    <style>
     img{
        border-radius:50%
    }
    </style>
   
    <a href="/"><img src="/images/ccbd_logo.png" width="50"
    height="40"> </a>
    </td>
    
    <td width='60%' align='center'><h1>ChicagoCBD</h1></td>
    <td width='10%' align='center' style="color: red;">Login Control</td>
    <td width='10%' align='center' style="color: red;">Cart Control</td>
    </tr></table>
    <p> SEARCH CONTROL </p>
    <ul>
        <li> <a href="/" style="color: red;">Home</a> </li>
        <li> <a href="/about" style="color: red;">About Us</a> </li>
        <li> <a href="/contact" style="color: red;">Contact Us</a> </li>
    </ul>