<table bgcolor='blue' width="100%"> <tr>
    <td width='20%' align='left'>
    <style>
     img{
        border-radius:50%
    }
    </style>
   
    <a href="/"><img src="/images/ccbd_logo.png" width="60"
    height="60"> </a>
    </td>
    
    <td width='60%' align='center'><h1>ChicagoCBD</h1></td>
    <td width='10%' align='center'>
        <% if(session.customer_id > 0) { %>
            <b> Hello <b> <%= session.custname %>! </b> </br>
            <a href='/customer/logout'>Logout</a>
        <% } else { %>
            <a href='/customer/register' style="color: gold">New Customer</a> </br>
            <a href='/customer/login' style="color:gold">Login</a>
        <% } %>
    </td>
    <td width='10%' align='center'>
        <a href="/catalog/cart" style="color: gold;">Cart</a>
    </td>
    </tr></table>
    
    <p><form action="/search" method="get">
        Search: <input type="text" name="searchcriteria">
        <input type="submit" value="Go">
    </form></p>
        

    <ul>
        <li> <a href="/" style="color: red;">Home</a> </li>
        <li> <a href="/catalog" style="color: red;">Catalog</a> </li>
        <li> <a href="/about" style="color: red;">About Us</a> </li>
        <li> <a href="/contact" style="color: red;">Contact Us</a> </li>
        <li> <a href="/product" style="color: red;">Product</a></li>
        <li> <a href="/category" style="color: red;">Category</a></li>
        <li> <a href="/customer" style="color: red;">Customer</a></li>
        <li> <a href="/supplier" style="color: red;">Supplier</a></li>
        <li> <a href="/saleorder" style="color: red;">Sale Order</a></li>
        <li> <a href="/orderdetail" style="color: red;">Order Detail</a></li>
        <li> <a href="/review" style="color: red;">Review</a></li>
        <li> <a href="/subscription" style="color: red;">Subscription</a></li>
        <li> <a href="/report" style="color: red;">Report</a> </href></li>


    </ul>