<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Enjoy our plethora of CBD products, ranging from flower to oils.</p>
    <img src = "/images/ccbd_logo.png">
  </body>
</html>
