<h1>Privacy Policies</h1>
<p style="font-size: 120%;">We collect data on your purchases to better tailor products to you that we think you'd enjoy.</p>
<p style="font-size: 120%;">We never save credit card information</p>